In [2]:
import pandas as pd

accident_csv = "./accident.csv"
person_csv = "./person.csv"
vehicle_csv = "./vehicle.csv"

accident_df = pd.read_csv(accident_csv)
person_df = pd.read_csv(person_csv)
vehicle_df = pd.read_csv(vehicle_csv)

C:\Users\bigdi\AppData\Local\Temp\ipykernel_17760\2972132344.py:8: DtypeWarning: Columns (72,73,74,75,82,83,85,89,90,94) have mixed types. Specify dtype option on import or set low_memory=False.
  person_df = pd.read_csv(person_csv)
C:\Users\bigdi\AppData\Local\Temp\ipykernel_17760\2972132344.py:9: DtypeWarning: Columns (102,103,104,107,108,109,110,117,118,120,125,126,129) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicle_df = pd.read_csv(vehicle_csv)

In [3]:
accident_df["weather_lit"].value_counts()

weather_lit
Clear                1305
Unknown               221
Cloudy                167
Not Reported          120
Rain                   40
Snow                    3
Blowing Snow            1
Sleet or Hail           1
Severe Crosswinds       1
Other                   1
Name: count, dtype: int64

In [8]:
accident_df["lgt_cond_lit"].value_counts()

lgt_cond_lit
Daylight                   815
Dark - Not Lighted         336
Dark - Lighted             335
Unknown                    130
Dark - Unknown Lighting    128
Dusk                        64
Dawn                        46
Not Reported                 6
Name: count, dtype: int64

In [10]:
accident_df["a_tod_lit"].value_counts()

a_tod_lit
Nighttime    889
Daytime      872
Unknown       99
Name: count, dtype: int64

In [12]:
accident_df["a_spcra_lit"].value_counts()

a_spcra_lit
Other Crash                1223
Speeding Involved Crash     637
Name: count, dtype: int64

In [16]:
accident_df["a_ped_lit"].value_counts()

a_ped_lit
Other Crash                  1510
Pedestrian Involved Crash     350
Name: count, dtype: int64

In [18]:
accident_df["a_posbac_lit"].value_counts()

a_posbac_lit
Unknown BAC Crash                          878
All Drivers With ZERO BAC Testing Crash    517
Driver With Positive BAC Testing Crash     465
Name: count, dtype: int64

In [20]:
accident_df["a_dist_lit"].value_counts()

a_dist_lit
Other Crash                      1698
Involving a Distracted Driver     162
Name: count, dtype: int64

In [24]:
accident_df["HOUR"].value_counts()

HOUR
18    140
20    136
17    113
19    108
16    103
99     99
15     91
21     80
11     79
22     73
13     73
6      70
23     69
12     63
14     63
7      63
5      62
0      54
9      52
10     51
2      51
8      51
1      48
3      38
4      30
Name: count, dtype: int64

In [30]:
accident_df["TWAY_ID"].value_counts()

TWAY_ID
US-191                        48
UNKNOWN RD                    36
SR-87                         33
MCDOWELL RD                   33
SR-264                        29
                              ..
CAMINO DE OESTE                1
OUTER LOOP RD                  1
COUNTY 15TH ST                 1
LENZER AVE                     1
INDIAN ROUTE 121- ASPEN RD     1
Name: count, Length: 881, dtype: int64

In [32]:
accident_df["a_dow_lit"].value_counts()

a_dow_lit
Weekday    1001
Weekend     833
Unknown      26
Name: count, dtype: int64

In [34]:
accident_df["a_spcra_lit"].value_counts()

a_spcra_lit
Other Crash                1223
Speeding Involved Crash     637
Name: count, dtype: int64

In [4]:
accident_df

,index,accident_id,ST_CASE,VE_TOTAL,VE_FORMS,PEDS,PERSONS,COUNTY,county_name,CITY,...,A_POLPUR,a_polour_lit,A_POSBAC,a_posbac_lit,A_DIST,a_dist_lit,A_DROWSY,a_drowsy_lit,INDIAN_RES,indian_res_lit
0,0,2012040001,40001,1,1,0,1,19,PIMA,0,...,2,Other Crash,1,Driver With Positive BAC Testing Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
1,1,2012040002,40002,1,1,0,2,25,YAVAPAI,90,...,2,Other Crash,1,Driver With Positive BAC Testing Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
2,2,2012040003,40003,1,1,1,0,13,MARICOPA,370,...,2,Other Crash,2,All Drivers With ZERO BAC Testing Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
3,3,2012040004,40004,2,2,0,2,13,MARICOPA,190,...,2,Other Crash,2,All Drivers With ZERO BAC Testing Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
4,4,2012040005,40005,2,2,0,4,19,PIMA,530,...,2,Other Crash,3,Unknown BAC Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855,1855,2016040872,40872,1,1,0,1,13,MARICOPA,0,...,2,Other Crash,2,All Drivers With ZERO BAC Testing Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
1856,1856,2016040875,40875,1,1,0,2,17,NAVAJO,0,...,2,Other Crash,2,All Drivers With ZERO BAC Testing Crash,2,Other Crash,2,Other Crash,1,Tribal Lands
1857,1857,2016040876,40876,1,1,1,1,13,MARICOPA,370,...,2,Other Crash,3,Unknown BAC Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
1858,1858,2016040877,40877,2,2,0,3,13,MARICOPA,200,...,2,Other Crash,3,Unknown BAC Crash,2,Other Crash,2,Other Crash,0,Not Tribal Lands
1859,1859,2016040880,40880,1,1,0,1,21,PINAL,0,...,2,Other Crash,1,Driver With Positive BAC Testing Crash,2,Other Crash,2,Other Crash,1,Tribal Lands